<h2>
  {{
    languageService.currentLanguage === 'kz'
      ? 'Ойыншылар'
      : languageService.currentLanguage === 'ru'
      ? 'Игроки'
      : 'Players'
  }}
</h2>

<p>
  {{
    languageService.currentLanguage === 'kz'
      ? 'Таңдалған ойыншылар'
      : languageService.currentLanguage === 'ru'
      ? 'Выбрано игроков'
      : 'Selected Players'
  }}
: {{ fantasyService.selectedPlayers }}/15
</p>

<p>
  {{
    languageService.currentLanguage === 'kz'
      ? 'Қалған бюджет'
      : languageService.currentLanguage === 'ru'
      ? 'Осталось бюджета'
      : 'Remaining Budget'
  }}
: {{ fantasyService.budget.toFixed(1) }} млн ₸
</p>

<input
  type="text"
  [(ngModel)]="searchText"
  [placeholder]="
    languageService.currentLanguage === 'kz'
      ? 'Іздеу...'
      : languageService.currentLanguage === 'ru'
      ? 'Поиск...'
      : 'Search...'
  "
>

<div class="filters">

  <button
    (click)="selectedPosition='ALL'"
    [class.active]="selectedPosition === 'ALL'"
  >
    ALL
  </button>

  <button
    (click)="selectedPosition='GK'"
    [class.active]="selectedPosition === 'GK'"
  >
    GK
  </button>

  <button
    (click)="selectedPosition='DEF'"
    [class.active]="selectedPosition === 'DEF'"
  >
    DEF
  </button>

  <button
    (click)="selectedPosition='MID'"
    [class.active]="selectedPosition === 'MID'"
  >
    MID
  </button>

  <button
    (click)="selectedPosition='FWD'"
    [class.active]="selectedPosition === 'FWD'"
  >
    FWD
  </button>

</div>

<p>
  Найдено игроков: {{ filteredPlayers.length }}
</p>

@for (player of filteredPlayers; track player.nameEn) {

<div class="player-card">

  <strong>
    {{
      languageService.currentLanguage === 'kz'
        ? player.nameKz
        : languageService.currentLanguage === 'ru'
        ? player.nameRu
        : player.nameEn
    }}
  </strong>

  <p>

<span class="club-badge">

  {{
    languageService.currentLanguage === 'kz'
      ? player.clubKz
      : languageService.currentLanguage === 'ru'
      ? player.clubRu
      : player.clubEn
  }}

</span>

    |

    {{ player.position }}

    |

    {{ player.price }} млн ₸

  </p>

  <p>
  ⭐ {{ player.points }} pts
</p>

  <button
    (click)="selectPlayer(player)"
    [disabled]="player.selected"
  >

    {{
      player.selected
        ? (
          languageService.currentLanguage === 'kz'
            ? 'Таңдалды'
            : languageService.currentLanguage === 'ru'
            ? 'Выбран'
            : 'Selected'
        )
        : (
          languageService.currentLanguage === 'kz'
            ? 'Таңдау'
            : languageService.currentLanguage === 'ru'
            ? 'Выбрать'
            : 'Select'
        )
    }}

  </button>

</div>

}

<h3>
  {{
    languageService.currentLanguage === 'kz'
      ? 'Таңдалған ойыншылар'
      : languageService.currentLanguage === 'ru'
      ? 'Выбранные игроки'
      : 'Selected Players'
  }}
</h3>

@for (player of fantasyService.selectedTeam; track player.nameEn) {

<div class="player-card">

  <strong>
    {{
      languageService.currentLanguage === 'kz'
        ? player.nameKz
        : languageService.currentLanguage === 'ru'
        ? player.nameRu
        : player.nameEn
    }}
  </strong>

  @if (fantasyService.captain?.nameEn === player.nameEn) {

  <p>⭐ Captain</p>

}

  <p>

    {{
      languageService.currentLanguage === 'kz'
        ? player.clubKz
        : languageService.currentLanguage === 'ru'
        ? player.clubRu
        : player.clubEn
    }}

    |

    {{ player.position }}

    |

    {{ player.price }} млн ₸

  </p>

  <button (click)="removePlayer(player)">


    {{
      languageService.currentLanguage === 'kz'
        ? 'Өшіру'
        : languageService.currentLanguage === 'ru'
        ? 'Удалить'
        : 'Remove'
    }}

  </button>

  <button (click)="setCaptain(player)">
    {{
      fantasyService.captain?.nameEn === player.nameEn
        ? (
          languageService.currentLanguage === 'kz'
            ? 'Капитан'
            : languageService.currentLanguage === 'ru'
            ? 'Капитан'
            : 'Captain'
        )
        : (
          languageService.currentLanguage === 'kz'
            ? 'Капитан ету'
            : languageService.currentLanguage === 'ru'
            ? 'Сделать капитаном'
            : 'Set as Captain'
        )
    }}
</button>

</div>

}
