<h2>
  {{
    languageService.currentLanguage === 'kz'
      ? 'Бюджет'
      : languageService.currentLanguage === 'ru'
      ? 'Бюджет'
      : 'Budget'
  }}
</h2>

<p>
  {{
    languageService.currentLanguage === 'kz'
      ? 'Таңдалған ойыншылар'
      : languageService.currentLanguage === 'ru'
      ? 'Выбранные игроки'
      : 'Selected players'
  }}
  :
  {{ fantasyService.selectedPlayers }} / 15
</p>

<p>
  {{
    languageService.currentLanguage === 'kz'
      ? 'Қалған бюджет'
      : languageService.currentLanguage === 'ru'
      ? 'Оставшийся бюджет'
      : 'Remaining budget'
  }}
  :
  {{ fantasyService.budget.toFixed(1) }} млн ₸
</p>
