<h2>
  {{
    languageService.currentLanguage === 'kz'
      ? 'Футбол алаңы'
      : languageService.currentLanguage === 'ru'
      ? 'Футбольное поле'
      : 'Football Field'
  }}
</h2>

<div class="field">

  <div class="position">GK</div>

  <div class="row">
    <div class="position">LB</div>
    <div class="position">CB</div>
    <div class="position">CB</div>
    <div class="position">RB</div>
  </div>

  <div class="row">
    <div class="position">LM</div>
    <div class="position">CM</div>
    <div class="position">CM</div>
    <div class="position">RM</div>
  </div>

  <div class="row">
    <div class="position">ST</div>
    <div class="position">ST</div>
  </div>

</div>

<h3>
  {{
    languageService.currentLanguage === 'kz'
      ? 'Алаңдағы ойыншылар'
      : languageService.currentLanguage === 'ru'
      ? 'Игроки команды'
      : 'Team Players'
  }}
</h3>

@for (player of fantasyService.selectedTeam; track player.nameEn) {

<div class="player-card">

  <strong>
    {{
      languageService.currentLanguage === 'kz'
        ? player.nameKz
        : languageService.currentLanguage === 'ru'
        ? player.nameRu
        : player.nameEn
    }}
  </strong>

  <p>
    {{ player.position }}
  </p>

</div>

}
