.field {
  width: 100%;
  max-width: 1417px;

  aspect-ratio: 1417 / 788;

  margin: 0 auto;

background-image: url('/assets/images/kpl.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;

  display: grid;

  grid-template-rows:
    18%
    22%
    22%
    22%;

  justify-items: center;

  padding-top: 60px;
}
.row {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.position {
  width: 70px;
  height: 70px;

  border-radius: 50%;

  background: rgba(255,255,255,.95);

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
}