<h2>
  {{
    languageService.currentLanguage === 'kz'
      ? 'Футбол алаңы'
      : languageService.currentLanguage === 'ru'
      ? 'Футбольное поле'
      : 'Football Field'
  }}
</h2>

<div class="field">

<div class="position">

  @if (getGoalkeepers().length > 0) {

{{ getLastName(getGoalkeepers()[0].nameRu) }}

  } @else {

    GK

  }

</div>

  <div class="row">
    <div class="position">LB</div>
<div class="position">

  @if (getDefenders().length > 0) {

    {{ getLastName(getDefenders()[0].nameRu) }}

  } @else {

    CB

  }

</div>
<div class="position">

  @if (getDefenders().length > 1) {

    {{ getLastName(getDefenders()[1].nameRu) }}

  } @else {

    CB

  }

</div>
    <div class="position">RB</div>
  </div>

  <div class="row">
    <div class="position">LM</div>
<div class="position">

  @if (getMidfielders().length > 0) {

    {{ getLastName(getMidfielders()[0].nameRu) }}

  } @else {

    CM

  }

</div>
<div class="position">

  @if (getMidfielders().length > 1) {

    {{ getLastName(getMidfielders()[1].nameRu) }}

  } @else {

    CM

  }

</div>
    <div class="position">RM</div>
  </div>

  <div class="row">
<div class="position">

  @if (getForwards().length > 0) {

    {{ getLastName(getForwards()[0].nameRu) }}

  } @else {

    ST

  }

</div>
<div class="position">

  @if (getForwards().length > 1) {

    {{ getLastName(getForwards()[1].nameRu) }}

  } @else {

    ST

  }

</div>
  </div>

</div>



<h3>
  {{
    languageService.currentLanguage === 'kz'
      ? 'Алаңдағы ойыншылар'
      : languageService.currentLanguage === 'ru'
      ? 'Игроки команды'
      : 'Team Players'
  }}
</h3>

@for (player of fantasyService.selectedTeam; track player.nameEn) {

<div class="player-card">

  <strong>
    {{
      languageService.currentLanguage === 'kz'
        ? player.nameKz
        : languageService.currentLanguage === 'ru'
        ? player.nameRu
        : player.nameEn
    }}
  </strong>

  <p>
    {{ player.position }}
  </p>

</div>

}
